build/
.dart_tool/
.gradle/
.idea/
.vscode/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/.kotlin/
android/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
coverage/
.env
analyze_output.json
analyze_results.json
workspace_errors.txt
*.iml
local.properties
